
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/ecom.css">
	<title>ShopEase</title>
</head>
<body>

	<nav class="navbar">
		<div class="section">
         
        <h3>ShopEase</h3>


        <ul class="menu">
          <form action="homewithoutlogin.html">
        	<button class="home">Home</button>
        </form>
          <form action="Aboutuswithoutlogin.html">
        	<button class="home">About Us</button>
          </form>
         

        	<button>Logout</button>
          
        	
        	
        </ul>
</div>
</nav>

<div class="intro">

<div class="content">
<h2>Your one-stop Destination for Trendy Fashion, Electronics & More!</h2>
</br>
<p>Discover the latest trends, unbeatable deals, and a seamless shopping </p>
<p class="centre">experience — all at your fingertips.</p>
    <p>Quality products. Fast delivery. Trusted by thousands.</p>
</br>
<h3>Shop Smart, Live Better</h3>
</br>
</br>
</br>
</br>
<div>
     <div class="wave"></div>
     <div class="wave"></div>
     <div class="wave"></div>
  </div>


<h1>Explore Our categories</h1>



</div>



<div class="images">
  
    <form action="beauty.html">
  <button class="imageBtn">
    <img src="https://imgmediagumlet.lbb.in/media/2024/07/669e2e6d5b38bb58d30bd6b1_1721642605705.jpg" alt="Product 1">
    </button></form>


<form action="fashion.html">
<button class="imageBtn">
 
    <img src="https://img.freepik.com/free-photo/millennial-fashion-couple-white-studio_158595-5457.jpg" alt="Product 2"> 

  </button></form>



<form action="phones.html">
  <button class="imageBtn">
    <img src="https://miro.medium.com/v2/resize:fit:1080/1*H_7YXqx8ZXbkuHhKXiYPtg@2x.jpeg" alt="Product 3">
    
  </button></form>


<form action="books.html">
  <button class="imageBtn">
    <img src="https://thumbs.dreamstime.com/b/stack-books-open-book-positioned-top-set-against-teal-background-stack-consists-various-colored-book-333443799.jpg" alt="Product 4">
    
  </button></form>


<form action="shoes.html">
  <button class="imageBtn">
    <img src="https://m.media-amazon.com/images/I/71OLtL+P-bL._AC_UY1000_.jpg" alt="Product 5">
  
  </button></form>


<form action="furniture.html">
  <button class="imageBtn">
    <img src="https://www.angelfurniture.in/image/cache/catalog/Products/AF-222H/Sheesham-Solid-Wood-Book-Shelf-1-1600x1760.jpg" alt="Product 6">

  </button></form>

  
<form action="toys.html">
  <button class="imageBtn">
    <img src="https://media.istockphoto.com/id/171582532/photo/box-full-of-toys-donations.jpg?s=612x612&w=0&k=20&c=Mr9P-zmk2v-k_GwgesYp7Za-b_5zlobUgK37UFK9S0c=" alt="Product 6">

  </button></form>

<form action="appliances.html">
  <button class="imageBtn">
    <img src="https://st4.depositphotos.com/4475215/39398/i/450/depositphotos_393980990-stock-photo-modern-home-appliances-commerce-online.jpg" alt="Product 6">

  </button></form>



</div>

</div>


<footer>
  
<div class="footers">
 
 <div class="footer-section">
 <h3>Get To Know Us</h3>
 <ul class="gettoknowUs">
  <li>About ShopEase</li>
  <li>Careers</li>
  <li>ShopEase Science</li>
</ul>
</div>

<div class="footer-section">
<h3>Connect With Us</h3>
<ul class="connectwithus">
  <li>Facebook</li>
  <li>Twitter</li>
  <li>Instagram</li>
</ul>



  
</div>
</footer>





</body>
</html>